TF_VAR_aws_region=ap-northeast-2
TF_VAR_cloudflare_api_token=
TF_VAR_fabbit_app_zone_id=
TF_VAR_fabbitinc_com_zone_id=
TF_VAR_cloudflare_account_id=
TF_VAR_r2_access_key_id=
TF_VAR_r2_secret_access_key=
