cloudflare_api_token   = ""
cloudflare_account_id  = ""
app_zone_id            = ""
landing_zone_id        = ""
ssh_public_key         = ""
ssh_allowed_cidrs      = ["your.ip.here/32"]
r2_access_key_id       = ""
r2_secret_access_key   = ""
